<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="POCPublishSubscribeQueueName" value="dsgsdagd"/>

    <!--<add key="connectionString" value="Server=.;Database=BankAccountLogs;Integrated Security=True;"/>-->
    <!--<add key="connectionString" value="Server=.;Database=QBudgetDb_Prod;Integrated Security=True;"/>-->
    <add key="connectionString" value="Server=.;Database=deskopBalanceDb_prod_backUp;Integrated Security=True;"/>
    <add key="prodconnectionString" value="Server=.;Database=deskopBalanceDb_prod;Integrated Security=True;"/>

    <add key="bkpSourceDbName" value="deskopBalanceDb"/>
    <add key="bkpSourceDbName_prod" value="deskopBalanceDb_prod"/>
    <add key="monthDelemeter" value="1"/>
    <add key="startYear" value="2018"/>

	  <add key="migrationMode" value=""/>
	  <add key="migrationFilePath" value="AppData\migrationData.json"/>

	  <add key="checkPontNames" value="עובר ושב בבנק,אשראי 7217,אשראי 9346"/>
	  
  </appSettings>
</configuration>